Client/.gradle
Client/local.properties
Client/.DS_Store
Client/build
Client/app/build
Client/captures
Client/.externalNativeBuild
Client/.cxx
Client/local.properties
Client/.idea/libraries
Client/.idea/discord.xml
Client/.idea/deploymentTargetDropDown.xml
Client/.idea/shelf
client/.idea/workspace.xml

Server/.idea/discord.xml
Server/.idea/deploymentTargetDropDown.xml
Server/.idea/shelf
Server/.idea/workspace.xml
Server/out