<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="log-path">./logs/</Property>
        <Property name="filename">serverLog</Property>
    </Properties>
    <Appenders>
        <RollingFile name="file" fileName="${log-path}${filename}_${date:yyyy-MM-dd_HH-mm-ss}.log"
                     filePattern="${log-path}${filename}_${date:yyyy-MM-dd_HH-mm-ss}.log">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
            <SizeBasedTriggeringPolicy size="1 KB"/>
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.fz.foodzoneserver.server" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>